@font-face {
    font-family: 'Rubik Mono One';
    src: url('RubikMonoOne-Regular.woff2') format('woff2'),
        url('RubikMonoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

